<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/registro.css">
</head>

<body>
    <!-- LOGO MERCADO LIEBRE -->
    <header>
        <div class="cabecera">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">

            </div>
            <!-- BARRA DE BÚSQUEDA / LUPA -->
            <div class="barra-busqueda" action="#" method="GET">
                <input type="text" placeholder="Buscar productos" name="busqueda">
                <button>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </button>
            </div>

            <!-- FRASE "COMPRÁ EN CUOTAS.....""  -->
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        <!-- BARRA DE NAVEGACIÓN -->
        <section class="bar-navegacion">
            <nav class="navegacion">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <!-- ÍCONO DE HAMBURGUESA -->
        </section>
        <div class="hamburguesa">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <!-- BANNER -->
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>

        <form action="/registro" method="POST">

            <!-- REGISTRO DE USUARIO -->
            <input type="text" name="nombre" placeholder="Nombre y apellido" class="input" minlegth="4" required>
            <input type="text" name="NombreDeUsuario" placeholder="Nombre de usuari@ " class="input" minlegth="3" required>
            <input type="email" name="email" placeholder="email" class="input" required>

            <br> <br>
            <h4> Fecha de Nacimiento</h4>
            <input type="date" name="fechaNacimiento" class="input" id="FechaNacimiento" required>
            <br>
            <input type="text" name="domicilio" placeholder="Domicilio" class="input" required>

            <br>

            <!-- PERFIL DE USUARIO -->
            <br>
            <h4> Perfil de usuario: </h4>
            <div class="perfil">
                <label for="comprador"> Comprador </label>
                <input type="radio" name="perfil" value="comprador" class="radio" id="comprador">

                <label for="vendedor"> Vendedor </label>
                <input type="radio" name="perfil" value="vendedor" class="radio" id="vendedor">
            </div>
            <br>

            <!-- CATEGORÍAS DE INTERÉS -->
            <br>
            <h4> Categoría de Interés: </h4>
            <div class="intereses">
                <div>
                    <label for="electro"> Electro</label>
                    <input type="checkbox" name="intereses" value="electro" class="cateogrias" id="electro">
                </div>

                <div>
                    <label for="moda"> Moda </label>
                    <input type="checkbox" name="intereses" value="moda" class="categorias" id="moda">
                </div>

                <div>
                    <label for="hogar"> Hogar </label>
                    <input type="checkbox" name="intereses" value="hogar" class="categorias" id="hogar">
                </div>

                <div>
                    <label for="jugueteria"> Jugueteria </label>
                    <input type="checkbox" name="intereses" value="jugueteria" class="categorias" id="jugueteria">
                </div>

                <div>
                    <label for="vidaSana"> Vida sana </label>
                    <input type="checkbox" name="intereses" value="vidaSana" class="categorias" id="vidaSana">
                </div>
            </div>
            <br>

            <!-- FOTO DE USUARIO -->
            <h4> Foto de Usuario: </h4>
            <input type="file" accept=".jpg, .png" name="foto" class="foto">

            <br>
            <!-- CONTRASEÑA -->
            <br>
            <div>
                <input type="password" name="password" placeholder="password">
                <input type="password" name="password" placeholder="Confirm password">
            </div>
            <br>
            <!-- BOTÓN DE ENVÍO A LA PÁGINA PRINCIPAL -->
            <button class="enviar" type="submit"> Enviar </button>

            <!-- BOTÓN DE RESTABLECIMIENTO -->
            <button class="restablecer" type="reset">Borrar</button>
            </button>
        </form>
    </main>

    <br>
    <!-- FOOTER -->
    <footer>
        <article class="atributos">
            <div class="logos-footer">
                <i class="fas fa-credit-card"></i>
                <div>
                    <b class= "articulo-texto"> Pagá con tarjeta de crédito o en efectivo.</b>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en punto de pago. ¡y
                        siempre seguro!</p>
        </article>

        <article class="atributos">
            <div class="logos-footer">
                <i class="fas fa-gift"></i>
                <div>
                    <b class="articulo-texto"> Envío gratis desde $2.500.</b>
                    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>
        </article>

        <article class="atributos">
            <div class="logos-footer">
                <i class="fas fa-user-shield"></i>
                <div>
                    <b class= "articulo-texto"> Seguridad, de principio a fin.</b>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
    </div>
        <br>

    </footer>

        Copyright © 1999-2020 MercadoLiebre S.R.L.
</body>

</html>